In [17]:
import pandas as pd

tracker = pd.read_csv("jobs.csv")

tracker

,geometry,temporal_extent,id,backend_name,status,start_time,running_start_time,cpu,memory,duration,costs
0,"POLYGON ((7.59447026034365 51.352048235211875,...","['2020-01-01', '2020-04-01']",j-2501311357044effab4d3af19a4453b1,cdse,running,2025-01-31T13:57:04Z,2025-01-31T13:59:41Z,NaN,NaN,NaN,NaN
1,POLYGON ((7.9313825299518275 51.56893150078220...,"['2020-01-01', '2020-04-01']",j-250131135723400393028de51e352855,cdse,running,2025-01-31T13:57:24Z,2025-01-31T13:59:41Z,NaN,NaN,NaN,NaN
2,"POLYGON ((9.070380399868506 51.6327019174455, ...","['2020-01-01', '2020-04-01']",NaN,NaN,not_started,NaN,NaN,NaN,NaN,NaN,NaN
3,"POLYGON ((8.635218214852326 52.12020246701559,...","['2020-01-01', '2020-04-01']",NaN,NaN,not_started,NaN,NaN,NaN,NaN,NaN,NaN
4,"POLYGON ((6.9561319036319 51.31003674526874, 6...","['2020-01-01', '2020-04-01']",NaN,NaN,not_started,NaN,NaN,NaN,NaN,NaN,NaN
5,"POLYGON ((8.098297466969036 51.8935886175864, ...","['2020-01-01', '2020-04-01']",NaN,NaN,not_started,NaN,NaN,NaN,NaN,NaN,NaN
6,"POLYGON ((8.584461109982 52.28925344114262, 8....","['2020-01-01', '2020-04-01']",NaN,NaN,not_started,NaN,NaN,NaN,NaN,NaN,NaN
7,"POLYGON ((8.946107043970517 51.96643697638922,...","['2020-01-01', '2020-04-01']",NaN,NaN,not_started,NaN,NaN,NaN,NaN,NaN,NaN
8,"POLYGON ((8.81338209817094 51.53073597914405, ...","['2020-01-01', '2020-04-01']",NaN,NaN,not_started,NaN,NaN,NaN,NaN,NaN,NaN
9,"POLYGON ((8.856842602218205 52.0521482714702, ...","['2020-01-01', '2020-04-01']",NaN,NaN,not_started,NaN,NaN,NaN,NaN,NaN,NaN
10,"POLYGON ((7.554517063546288 51.62367342069374,...","['2020-01-01', '2020-04-01']",NaN,NaN,not_started,NaN,NaN,NaN,NaN,NaN,NaN
11,POLYGON ((6.500435025632354 51.350131353372014...,"['2020-01-01', '2020-04-01']",NaN,NaN,not_started,NaN,NaN,NaN,NaN,NaN,NaN
12,"POLYGON ((6.236655008307854 51.05750652126743,...","['2020-01-01', '2020-04-01']",NaN,NaN,not_started,NaN,NaN,NaN,NaN,NaN,NaN
13,"POLYGON ((8.391437042090972 52.01128228489441,...","['2020-01-01', '2020-04-01']",NaN,NaN,not_started,NaN,NaN,NaN,NaN,NaN,NaN
14,POLYGON ((7.8063003252379985 51.53903787562240...,"['2020-01-01', '2020-04-01']",NaN,NaN,not_started,NaN,NaN,NaN,NaN,NaN,NaN
15,"POLYGON ((7.978680972916696 51.50315177972826,...","['2020-01-01', '2020-04-01']",NaN,NaN,not_started,NaN,NaN,NaN,NaN,NaN,NaN
16,POLYGON ((7.103753601734024 51.585683547299936...,"['2020-01-01', '2020-04-01']",NaN,NaN,not_started,NaN,NaN,NaN,NaN,NaN,NaN
17,"POLYGON ((6.825970037760763 51.83033527215148,...","['2020-01-01', '2020-04-01']",NaN,NaN,not_started,NaN,NaN,NaN,NaN,NaN,NaN
18,"POLYGON ((6.500570609021264 51.349494708113, 6...","['2020-01-01', '2020-04-01']",NaN,NaN,not_started,NaN,NaN,NaN,NaN,NaN,NaN
19,"POLYGON ((8.88739444189863 52.04734190152381, ...","['2020-01-01', '2020-04-01']",NaN,NaN,not_started,NaN,NaN,NaN,NaN,NaN,NaN