In [1]:
import pyarrow.parquet as pq

path = 'outputs/'


table = pq.read_table(path + 'satellogic-earthview-items.parquet')

In [3]:
len(table)

7095985

In [11]:
table.slice(0, 10)

pyarrow.Table
json_path: string
zone: string
region: string
date: timestamp[ns]
geometry: binary
__index_level_0__: int64
----
json_path: [["data/json/zone=04N/region=603411_2346301/date=2022-09-15/20220915_010014_SN20_04N_603411_2346301_metadata.json","data/json/zone=04N/region=603411_2346685/date=2022-09-15/20220915_010014_SN20_04N_603411_2346685_metadata.json","data/json/zone=04N/region=603411_2347069/date=2022-09-15/20220915_010014_SN20_04N_603411_2347069_metadata.json","data/json/zone=04N/region=603411_2347453/date=2022-09-15/20220915_010014_SN20_04N_603411_2347453_metadata.json","data/json/zone=04N/region=603411_2347837/date=2022-09-15/20220915_010014_SN20_04N_603411_2347837_metadata.json","data/json/zone=04N/region=603411_2348221/date=2022-09-15/20220915_010014_SN20_04N_603411_2348221_metadata.json","data/json/zone=04N/region=603411_2348605/date=2022-09-15/20220915_010014_SN20_04N_603411_2348605_metadata.json","data/json/zone=04N/region=603795_2346301/date=2022-09-15/20220915_010014_SN20_04N_603795_2346301_metadata.json","data/json/zone=04N/region=603795_2346685/date=2022-09-15/20220915_010014_SN20_04N_603795_2346685_metadata.json","data/json/zone=04N/region=603795_2347069/date=2022-09-15/20220915_010014_SN20_04N_603795_2347069_metadata.json"]]
zone: [["04N","04N","04N","04N","04N","04N","04N","04N","04N","04N"]]
region: [["603411_2346301","603411_2346685","603411_2347069","603411_2347453","603411_2347837","603411_2348221","603411_2348605","603795_2346301","603795_2346685","603795_2347069"]]
date: [[2022-09-15 00:00:00.000000000,2022-09-15 00:00:00.000000000,2022-09-15 00:00:00.000000000,2022-09-15 00:00:00.000000000,2022-09-15 00:00:00.000000000,2022-09-15 00:00:00.000000000,2022-09-15 00:00:00.000000000,2022-09-15 00:00:00.000000000,2022-09-15 00:00:00.000000000,2022-09-15 00:00:00.000000000]]
geometry: [[0103000000010000000500000001131B3EFFBF63C07EEAFFFF38363540D9F2180DFFBF63C0345D58591C37354090CBBA5B1DC063C0359F56C81D3735407B878E8C1DC063C0015DED6E3A36354001131B3EFFBF63C07EEAFFFF38363540,01030000000100000005000000D9F2180DFFBF63C0345D58591C373540A54714DCFEBF63C0B996AAB2FF373540EF86E42A1DC063C037A8B9210138354090CBBA5B1DC063C0359F56C81D373540D9F2180DFFBF63C0345D58591C373540,01030000000100000005000000A54714DCFEBF63C0B996AAB2FF3735401F110DABFEBF63C00D97F60BE338354074B90BFA1CC063C02279167BE4383540EF86E42A1DC063C037A8B92101383540A54714DCFEBF63C0B996AAB2FF373540,010300000001000000050000001F110DABFEBF63C00D97F60BE3383540684F037AFEBF63C0305E3C65C6393540436330C91CC063C0C20F6DD4C739354074B90BFA1CC063C02279167BE43835401F110DABFEBF63C00D97F60BE3383540,01030000000100000005000000684F037AFEBF63C0305E3C65C63935403C02F748FEBF63C022EC7BBEA93A3540168452981CC063C0306DBD2DAB3A3540436330C91CC063C0C20F6DD4C7393540684F037AFEBF63C0305E3C65C6393540,010300000001000000050000003C02F748FEBF63C022EC7BBEA93A3540E029E817FEBF63C0AF3EB5178D3B3540C91B72671CC063C06E9107878E3B3540168452981CC063C0306DBD2DAB3A35403C02F748FEBF63C022EC7BBEA93A3540,01030000000100000005000000E029E817FEBF63C0AF3EB5178D3B3540EBC5D6E6FDBF63C00B58E870703C3540A22A8F361CC063C0607B4BE0713C3540C91B72671CC063C06E9107878E3B3540E029E817FEBF63C0AF3EB5178D3B3540,010300000001000000050000009429AAEFE0BF63C02679B68F3736354053A579BEE0BF63C0FA0CFEE81A373540D9F2180DFFBF63C0345D58591C37354001131B3EFFBF63C07EEAFFFF383635409429AAEFE0BF63C02679B68F37363540,0103000000010000000500000053A579BEE0BF63C0FA0CFEE81A3735406893468DE0BF63C09E673F42FE373540A54714DCFEBF63C0B996AAB2FF373540D9F2180DFFBF63C0345D58591C37354053A579BEE0BF63C0FA0CFEE81A373540,010300000001000000050000006893468DE0BF63C09E673F42FE373540F9F3105CE0BF63C0F7877A9BE13835401F110DABFEBF63C00D97F60BE3383540A54714DCFEBF63C0B996AAB2FF3735406893468DE0BF63C09E673F42FE373540]]
__index_level_0__: [[0,1,2,3,4,5,6,7,8,9]]

In [12]:
table.slice(0, 10).to_pandas()

,json_path,zone,region,date,geometry
0,data/json/zone=04N/region=603411_2346301/date=...,04N,603411_2346301,2022-09-15,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x05\x00...
1,data/json/zone=04N/region=603411_2346685/date=...,04N,603411_2346685,2022-09-15,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x05\x00...
2,data/json/zone=04N/region=603411_2347069/date=...,04N,603411_2347069,2022-09-15,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x05\x00...
3,data/json/zone=04N/region=603411_2347453/date=...,04N,603411_2347453,2022-09-15,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x05\x00...
4,data/json/zone=04N/region=603411_2347837/date=...,04N,603411_2347837,2022-09-15,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x05\x00...
5,data/json/zone=04N/region=603411_2348221/date=...,04N,603411_2348221,2022-09-15,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x05\x00...
6,data/json/zone=04N/region=603411_2348605/date=...,04N,603411_2348605,2022-09-15,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x05\x00...
7,data/json/zone=04N/region=603795_2346301/date=...,04N,603795_2346301,2022-09-15,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x05\x00...
8,data/json/zone=04N/region=603795_2346685/date=...,04N,603795_2346685,2022-09-15,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x05\x00...
9,data/json/zone=04N/region=603795_2347069/date=...,04N,603795_2347069,2022-09-15,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x05\x00...

In [28]:
from shapely import wkb

df = table.slice(0, 10).to_pandas()
# df['geometry'] = df['geometry'].apply(lambda x: bytes(x) if isinstance(x, memoryview) else x)
df['geometry'] = df['geometry'].apply(wkb.loads)
gpd.GeoDataFrame(df, geometry='geometry')

,json_path,zone,region,date,geometry
0,data/json/zone=04N/region=603411_2346301/date=...,04N,603411_2346301,2022-09-15,"POLYGON ((-157.99991 21.21181, -157.99988 21.2..."
1,data/json/zone=04N/region=603411_2346685/date=...,04N,603411_2346685,2022-09-15,"POLYGON ((-157.99988 21.21528, -157.99986 21.2..."
2,data/json/zone=04N/region=603411_2347069/date=...,04N,603411_2347069,2022-09-15,"POLYGON ((-157.99986 21.21875, -157.99984 21.2..."
3,data/json/zone=04N/region=603411_2347453/date=...,04N,603411_2347453,2022-09-15,"POLYGON ((-157.99984 21.22221, -157.99981 21.2..."
4,data/json/zone=04N/region=603411_2347837/date=...,04N,603411_2347837,2022-09-15,"POLYGON ((-157.99981 21.22568, -157.99979 21.2..."
5,data/json/zone=04N/region=603411_2348221/date=...,04N,603411_2348221,2022-09-15,"POLYGON ((-157.99979 21.22915, -157.99977 21.2..."
6,data/json/zone=04N/region=603411_2348605/date=...,04N,603411_2348605,2022-09-15,"POLYGON ((-157.99977 21.23262, -157.99974 21.2..."
7,data/json/zone=04N/region=603795_2346301/date=...,04N,603795_2346301,2022-09-15,"POLYGON ((-157.99621 21.21179, -157.99618 21.2..."
8,data/json/zone=04N/region=603795_2346685/date=...,04N,603795_2346685,2022-09-15,"POLYGON ((-157.99618 21.21525, -157.99616 21.2..."
9,data/json/zone=04N/region=603795_2347069/date=...,04N,603795_2347069,2022-09-15,"POLYGON ((-157.99616 21.21872, -157.99614 21.2..."

In [27]:
df

,json_path,zone,region,date,geometry
0,data/json/zone=04N/region=603411_2346301/date=...,04N,603411_2346301,2022-09-15,"POLYGON ((-157.999907544021 21.211807250957, -..."
1,data/json/zone=04N/region=603411_2346685/date=...,04N,603411_2346685,2022-09-15,"POLYGON ((-157.999884175041 21.215276321481, -..."
2,data/json/zone=04N/region=603411_2347069/date=...,04N,603411_2347069,2022-09-15,"POLYGON ((-157.999860801324 21.218745390556, -..."
3,data/json/zone=04N/region=603411_2347453/date=...,04N,603411_2347453,2022-09-15,"POLYGON ((-157.999837422868 21.222214458182, -..."
4,data/json/zone=04N/region=603411_2347837/date=...,04N,603411_2347837,2022-09-15,"POLYGON ((-157.999814039674 21.225683524359, -..."
5,data/json/zone=04N/region=603411_2348221/date=...,04N,603411_2348221,2022-09-15,"POLYGON ((-157.99979065174 21.229152589087, -1..."
6,data/json/zone=04N/region=603411_2348605/date=...,04N,603411_2348605,2022-09-15,"POLYGON ((-157.999767259068 21.232621652364, -..."
7,data/json/zone=04N/region=603795_2346301/date=...,04N,603795_2346301,2022-09-15,"POLYGON ((-157.996208031033 21.211785299348, -..."
8,data/json/zone=04N/region=603795_2346685/date=...,04N,603795_2346685,2022-09-15,"POLYGON ((-157.996184575643 21.215254365944, -..."
9,data/json/zone=04N/region=603795_2347069/date=...,04N,603795_2347069,2022-09-15,"POLYGON ((-157.996161115497 21.218723431091, -..."

In [2]:
import geopandas as gpd

path = 'outputs/'

gdf = gpd.read_parquet(path + 'satellogic-earthview-items-merged.parquet')

gdf

,json_path,zone,region,date,geometry,s2_matches,s1_matches
0,data/json/zone=04N/region=603411_2346301/date=...,04N,603411_2346301,2022-09-15,"POLYGON ((-157.99991 21.21181, -157.99988 21.2...",[{'id': 'S2A_MSIL2A_20220930T211921_N0400_R100...,[{'id': 'S1A_IW_GRDH_1SDV_20220928T162414_2022...
1,data/json/zone=04N/region=603411_2346685/date=...,04N,603411_2346685,2022-09-15,"POLYGON ((-157.99988 21.21528, -157.99986 21.2...",[{'id': 'S2A_MSIL2A_20220930T211921_N0400_R100...,[{'id': 'S1A_IW_GRDH_1SDV_20220928T162414_2022...
2,data/json/zone=04N/region=603411_2347069/date=...,04N,603411_2347069,2022-09-15,"POLYGON ((-157.99986 21.21875, -157.99984 21.2...",[{'id': 'S2A_MSIL2A_20220930T211921_N0400_R100...,[{'id': 'S1A_IW_GRDH_1SDV_20220928T162414_2022...
3,data/json/zone=04N/region=603411_2347453/date=...,04N,603411_2347453,2022-09-15,"POLYGON ((-157.99984 21.22221, -157.99981 21.2...",[{'id': 'S2A_MSIL2A_20220930T211921_N0400_R100...,[{'id': 'S1A_IW_GRDH_1SDV_20220928T162414_2022...
4,data/json/zone=04N/region=603411_2347837/date=...,04N,603411_2347837,2022-09-15,"POLYGON ((-157.99981 21.22568, -157.99979 21.2...",[{'id': 'S2A_MSIL2A_20220930T211921_N0400_R100...,[{'id': 'S1A_IW_GRDH_1SDV_20220928T162414_2022...
...,...,...,...,...,...,...,...
1995,data/json/zone=08N/region=562295_7585274/date=...,08N,562295_7585274,2022-08-31,"POLYGON ((-133.47618 68.36998, -133.47595 68.3...",[{'id': 'S2B_MSIL2A_20220915T210109_N0400_R100...,[{'id': 'S1A_EW_GRDM_1SDH_20220915T152938_2022...
1996,data/json/zone=08N/region=562295_7585658/date=...,08N,562295_7585658,2022-08-31,"POLYGON ((-133.47595 68.37343, -133.47572 68.3...",[{'id': 'S2B_MSIL2A_20220915T210109_N0400_R100...,[{'id': 'S1A_EW_GRDM_1SDH_20220915T152938_2022...
1997,data/json/zone=08N/region=562295_7586042/date=...,08N,562295_7586042,2022-08-31,"POLYGON ((-133.47572 68.37687, -133.47549 68.3...",[{'id': 'S2B_MSIL2A_20220915T210109_N0400_R100...,[{'id': 'S1A_EW_GRDM_1SDH_20220915T152938_2022...
1998,data/json/zone=08N/region=562295_7586426/date=...,08N,562295_7586426,2022-08-31,"POLYGON ((-133.47549 68.38031, -133.47526 68.3...",[{'id': 'S2B_MSIL2A_20220915T210109_N0400_R100...,[{'id': 'S1A_EW_GRDM_1SDH_20220915T152938_2022...
1999,data/json/zone=08N/region=562295_7586810/date=...,08N,562295_7586810,2022-08-31,"POLYGON ((-133.47526 68.38376, -133.47503 68.3...",[{'id': 'S2B_MSIL2A_20220915T210109_N0400_R100...,[{'id': 'S1A_EW_GRDM_1SDH_20220915T152938_2022...