This notebook was automatically tested on the EOTDL platform with kernel **eotdl-1-2023.10**
<details>
    
```
    channels:
    - conda-forge
    dependencies:
    - python=3.10
    - ipykernel
    - geojson
    - ipyleaflet
    - ipywidgets<8.0.0
    - jupyterlab_widgets<2.0.0
    - jupyterlab-geojson
    - libgcc
    - libpng
    - papermill
    - timm
    - geomet
    - matplotlib
    - lightning
    - rioxarray
    - pystac
    - pyproj
    - mlflow
    - pip:
      - pytorch-eo==2023.7.21
      - eotdl==2023.9.14.post4
    description: ''
    name: eotdl-1-2023.10
    prefix: null

```
</details>

# Explore the S2-SHIPS dataset

In this example we are going to explore the [S2-SHIPS](https://github.com/alina2204/contrastive_SSL_ship_detection) dataset.

In [1]:
import os
from pathlib import Path
path = Path(os.environ.get('EOTDL_DOWNLOAD_PATH'), 'S2-SHIPS')
assert(path.exists)

## The dataset

This dataset contains the COCO annotations files, the 12 spectral bands for each S2-SHIPS tile in a tif or numpy array version, the S2-SHIPS segmentation masks, the water masks and some pretrained backbones.

In [2]:
!ls {path}/S2SHIPS

S2SHIPS.tar.xz		     dataset_npy	   s2ships_labels_mask
coco-1622202804.029818.json  dataset_tif	   water_mask
coco-s2ships.json	     pretrained_backbones

In [3]:
import pandas as pd 
images = [img for img in os.listdir(str(path) + '/S2SHIPS/dataset_tif')]
df = pd.DataFrame({'image': images})

In [4]:
df

          image
0        brest1
1     marseille
2        panama
3    portsmouth
4          rome
5    rotterdam1
6    rotterdam2
7    rotterdam3
8   southampton
9         suez1
10        suez2
11        suez3
12        suez4
13        suez5
14        suez6
15       toulon